<button (click)="showDetails(task)" type="button" class="flex flex-col gap-4 p-4 rounded-xl bg-white w-full"
    data-modal-target="defaultModal" data-modal-toggle="defaultModal">
    <h6 class="capitalize text-start text-textBlue font-semibold">{{ task.todo }}</h6>
    <h6 class="capitalize text-[#71b4f3] text-sm">{{ task.time | date: 'dd-MMM-yy' }}</h6>
    <div class="flex justify-between w-full">
        @switch (task.priority) {
        @case ('High') {
        <span class="bg-pink-100 text-pink-500 text-sm w-fit font-medium me-2 px-4 py-1.5 rounded">High</span>
        }
        @case ('Medium') {
        <span class="bg-yellow-100 text-yellow-600 text-sm w-fit font-medium me-2 px-4 py-1.5 rounded">Medium</span>
        }
        @case ('Low') {
        <span class="bg-green-100 text-green-500 text-sm w-fit font-medium me-2 px-4 py-1.5 rounded">Low</span>
        }
        }
        <button (click)="onCompleteTask()">
            <fa-icon [icon]="faCheckCircle" class="text-xl text-textBlue"></fa-icon>
        </button>
    </div>
</button>

<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-textBlue dark:text-white">
                    Task Details
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="flex flex-col gap-4 p-4 rounded-xl bg-white">
                <div class="flex flex-col gap-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="todo">
                        title
                    </label>
                    <input [value]="task.todo"
                        class="appearance-none block w-full bg-gray-50 text-gray-700 border border-purple-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="todo" type="text">
                </div>

                <div class="flex flex-col gap-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="todo">
                        date
                    </label>
                    <input [value]="formattedDate | date: 'dd-MMM-yy'"
                        class="appearance-none block w-full bg-gray-50 text-gray-700 border border-purple-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="time" type="date">
                </div>
                <div class="flex flex-col gap-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="status">Status</label>
                    <select id="status" [value]="task.status"
                        class="appearance-none block w-full bg-gray-50 text-gray-700 border border-purple-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
                        <option value="todo">To Do</option>
                        <option value="in-progress">In Progress</option>
                        <option value="done">Done</option>
                        <option value="postponed">Postponed</option>
                    </select>
                </div>
                <div class="flex flex-col gap-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                        for="priority">Priority</label>
                    <select id="priority" [value]="task.priority"
                        class="appearance-none block w-full bg-gray-50 text-gray-700 border border-purple-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
                <div class="flex flex-col gap-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2" for="todo">
                        description
                    </label>
                    <textarea [value]="task.description"
                        class="appearance-none block w-full bg-gray-50 text-gray-700 border border-purple-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="description" type="paragpraph"></textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button"
                    class="text-textBlue bg-purple-300 hover:bg-purple-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I
                    accept</button>
                <button data-modal-hide="defaultModal" type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>